## Python datetime()
Date variables are a special type of categorical variable. While, at first glance, a date gives us nothing more than a specific point on a timeline, when pre-processing properly, they can highly enrich the dataset. Common date formats contain numbers and sometimes text as well to specify months and days. Getting dates into a friendly format and extracting features of dates into new variables can be useful preprocessing steps.

**For Example, from a date variable, you can extract basic features like,**
- Month
- Quarter
- Semester
- Year
- Day
- Day of the week
- Weekend or not
- Time difference in year / months / days etc

- It represents a date in the format YYYY-MM-DD

**Importing Packages and dataset:**

In [13]:
import pandas as pd
import numpy as np 
import datetime

'''Now, let’s take the date variable ‘Date.of.Birth’ & 'DisbursalDate' from the dataset and work on.'''

cols = ['Date.of.Birth', 'DisbursalDate']

#  data = pd.read_csv('train.csv',usecols=cols, nrows = 100)
data = pd.DataFrame(['2020-06-01', '2020-09-02'], columns=['Date.of.Birth'])

***Conversion to DateTime Datatype:***
- The first step is to convert the data type of the column to DateTime. That can be done using .to_datetime() method in Pandas.

In [2]:
data['Date.of.Birth']= pd.to_datetime(data['Date.of.Birth']) 
# data['DisbursalDate']= pd.to_datetime(data['DisbursalDate'])


data.dtypes

Date.of.Birth    datetime64[ns]
dtype: object

In [3]:
data

  Date.of.Birth
0    2020-06-01
1    2020-09-02

***Series.dt :***
Series.dt can be used to access the values of the series of a datetime variable and return several properties in the form of a numpy array.

Some of its attributes are

- ***pandas.Series.dt.year*** returns the year of the date time.
- ***pandas.Series.dt.month*** returns the month of the date time.
- ***pandas.Series.dt.day*** returns the day of the date time.
- ***pandas.Series.dt.quarter*** returns the quarter of the date time.

***Month from Date:***

In [4]:
data['month'] = data['Date.of.Birth'].dt.month
data[['Date.of.Birth','month']].head()

  Date.of.Birth  month
0    2020-06-01      6
1    2020-09-02      9

***Day from Date:***

In [5]:
data['day'] = data['Date.of.Birth'].dt.day
data[['Date.of.Birth','day']].head()

  Date.of.Birth  day
0    2020-06-01    1
1    2020-09-02    2

***Year from Date:***

In [6]:
data['year'] = data['Date.of.Birth'].dt.year
data[['Date.of.Birth','year']].head()

  Date.of.Birth  year
0    2020-06-01  2020
1    2020-09-02  2020

***Quarter from Date:***

In [7]:
data['quarter'] = data['Date.of.Birth'].dt.quarter
data[['Date.of.Birth','quarter']].head()

  Date.of.Birth  quarter
0    2020-06-01        2
1    2020-09-02        3

***Semester from Date:***

We can calculate the semester by applying a simple condition using the ***isin*** function on the quarter variable as follows,

- Quarter 1 & 2 as Semester 1, the rest, Quarter 3 & 4 as Semester 2

In [8]:
data['semester'] = np.where(data.quarter.isin([1,2]),1,2)
data[['Date.of.Birth','semester']].head()

  Date.of.Birth  semester
0    2020-06-01         1
1    2020-09-02         2

***Day of the week from Date:***

series.dt.dayofweek attribute returns a numpy array containing the day of the week of the DateTime variable with Monday = 0 & Sunday = 6

In [9]:
data['dayofweek'] = data['Date.of.Birth'].dt.dayofweek
data[['Date.of.Birth','dayofweek']].head()

  Date.of.Birth  dayofweek
0    2020-06-01          0
1    2020-09-02          2

Similarly, series.dt.weekday_name attribute returns an array the name of the day in a week.

In [10]:
data['dayofweek_name'] = data['Date.of.Birth'].dt.weekday_name
data[['Date.of.Birth','dayofweek_name']].head()

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

***Whether the day is a weekend or not:***

- We can determine whether a day is a weekend or not, by again using a simple ***isin*** function that assigns ‘Saturday’ and ‘Sunday’ to 1 and the rest of the days to 0.

In [ ]:
data['is_weekend'] = np.where(data['dayofweek_name'].isin(['Sunday','Saturday']),1,0)
data[['Date.of.Birth','is_weekend']].head()

***Difference between two dates:***
- The datetime.today function returns the current local date. 
- Therefore in the below example, the current date — date of time will give us that age of the applicant

In [ ]:
data.iloc[0, 0] - data.iloc[1, 0]

In [ ]:
dt = datetime.datetime(2020, 6, 5)
delta = datetime.timedelta(days=5)
dt + delta

In [ ]:
(datetime.datetime.today() - data['Date.of.Birth']).head()

You can print the current date and time using the now() function. now() function returns the current local date and time.

***Constructor Syntax:***

- class datetime.datetime(year, month, day, hour=0, minute=0, second=0, microsecond=0, tzinfo=None, *, fold=0)

In [ ]:
from datetime import datetime 
  
# Calling now() function 
today = datetime.now() 
  
print("Current date and time is", today)

Similarly, if the variable had time along with the date, we can calculate the time difference in hours as well.

Apart from these, there are other attributes of series.dt method that you can try out,

- pandas.series.dt.hour
- pandas.series.dt.second
- pandas.series.dt.minute
- pandas.series.dayofyear
- pandas.series.dt.date
- pandas.series.dt.time
- pandas.series.dt.freq
- pandas.series.weekofyear

Since no machine learning algorithm would be able to look at a datetime object and automatically infer the above, simple steps like these provides the possibility for insight into a dataset.

- To get More Details Visit [this](https://stackabuse.com/converting-strings-to-datetime-in-python/)